.content {
    margin: 0px spacing(2);

    @include respond-to('tablet'){
        margin: 0 spacing(4);
    }

    @include respond-to('desktop') {
        max-width: 700px;
        margin: auto;
    }

}

.full-width {
    margin-left: calc(50% - 50vw);
    width: 100vw;
}