.hero {
    background: url("/images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding-bottom: spacing(8);

    border-bottom: 16px solid #b90000;
}

.hero-container {
    height: 20vh;
    text-align: center;
    background-color: $backgroundColor;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: spacing(8);
}

.logo {
    max-height: 80%;
}

.hero-img {
    max-width: 100vw;
}

.title {
    text-align: center;
    margin: spacing(4);
}